<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>{{ myClass?.title }}</h1>
    <h2>Minimum grade: {{ myClass?.minGrade }}</h2>
  </div>

  <div class="container">
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let item of assignments">
        <div class="row">
          <div class="col-md-3">{{ item.title }} - {{ item.date | date }}</div>
          <div class="col-md-3">
            <span *ngIf="item.grade">grade: {{ item.grade }}</span>
          </div>
          <div class="col-md-3">
            <span *ngIf="item.weight">weight: {{ item.weight }}</span>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary" (click)="open(content, item)">edit</button>
            <button class="btn btn-danger ml-2" (click)="deleteAssignment(item)">delete</button>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn btn-primary mb-3" (click)="open(content)">+ add assignment</button>
    <ul class="list-group mb-3">
      <li class="list-group-item">average: {{ this.average }}</li>
    </ul>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add assignment</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm">
        <div class="m-3">
          <label class="d-block my-3">
            <input type="text" class="form-control" formControlName="title" autocomplete="title" placeholder="Title" />
            <span hidden>Title</span>
            <small
              [hidden]="addForm.controls['title'].valid || addForm.controls['title'].untouched"
              class="text-danger"
            >
              Title is required
            </small>
          </label>
          <label class="d-block my-3">
            <input type="number" class="form-control" formControlName="grade" placeholder="Grade" />
            <span hidden>grade</span>
          </label>
          <label class="d-block my-3">
            <input type="number" class="form-control" formControlName="weight" placeholder="Weight" />
            <span hidden>weight</span>
          </label>
          <label class="d-block my-3">
            <input type="date" class="form-control" formControlName="date" placeholder="date" />
            <span hidden>date</span>
            <small [hidden]="addForm.controls['date'].valid || addForm.controls['date'].untouched" class="text-danger">
              date is required
            </small>
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" *ngIf="!isEditing" (click)="save()">Save</button>
      <button
        type="button"
        class="btn btn-outline-dark"
        *ngIf="isEditing && editedAssignment"
        (click)="save(editedAssignment)"
      >
        Save
      </button>
    </div>
  </ng-template>
</div>
