<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>My classes</h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of myClasses">
      <div class="row">
        <div class="col-md-9 p-2">
          <a routerLink="/class/{{ item.id }}">{{ item.title }}</a>
          <div>min: {{ item.minGrade }}</div>
        </div>
        <div class="col-md-3 p-2">
          <button class="btn btn-primary" (click)="open(content, item)">edit</button>
          <button class="btn btn-danger ml-2" (click)="deleteClass(item)">delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- add class -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add class</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm">
      <div class="m-3">
        <label class="d-block my-3">
          <span>Title</span>
          <input type="text" class="form-control" formControlName="title" autocomplete="title" placeholder="Title" />
          <small [hidden]="addForm.controls['title'].valid || addForm.controls['title'].untouched" class="text-danger">
            Title is required
          </small>
        </label>
        <label class="d-block my-3">
          <span>Min/Goal grade</span>
          <input type="number" class="form-control" formControlName="minGrade" placeholder="Min Grade" />
          <small
            [hidden]="addForm.controls['minGrade'].valid || addForm.controls['minGrade'].untouched"
            class="text-danger"
          >
            Min Grade is required
          </small>
        </label>
        <label class="d-block my-3">
          <app-days-week (newDayEvent)="addDay($event)" [daysWeek]="daysWeek"></app-days-week>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" *ngIf="!isEditing" (click)="save()">Save</button>
    <button type="button" class="btn btn-outline-dark" *ngIf="isEditing && editedSclass" (click)="save(editedSclass)">
      Save
    </button>
  </div>
</ng-template>

<div class="add-btn">
  <button class="btn btn-primary" (click)="open(content)">+</button>
</div>
