<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>My classes</h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of myClasses">
      <a routerLink="/class/{{ item.id }}">{{ item.title }}</a>
    </li>
  </ul>
</div>

<!-- add class -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add class</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm">
      <div class="m-3">
        <label class="d-block my-3">
          <input type="text" class="form-control" formControlName="title" autocomplete="title" placeholder="Title" />
          <span hidden>Title</span>
          <small [hidden]="addForm.controls['title'].valid || addForm.controls['title'].untouched" class="text-danger">
            Title is required
          </small>
        </label>
        <label class="d-block my-3">
          <input type="number" class="form-control" formControlName="minGrade" placeholder="Min Grade" />
          <span hidden>minGrade</span>
          <small
            [hidden]="addForm.controls['minGrade'].valid || addForm.controls['minGrade'].untouched"
            class="text-danger"
          >
            Min Grade is required
          </small>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
  </div>
</ng-template>

<div class="add-btn">
  <button class="btn btn-primary" (click)="open(content)">+</button>
</div>
